html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
}

@font-face {font-family: "MyriadProLight"; font-style: normal; font-weight: normal; src: url('font/myriadpro-light.eot') format("embedded-opentype"), url('font/myriadpro-light.woff') format("woff"), url('font/myriadpro-light.ttf') format("truetype"), url('font/myriadpro-light.svg') format("svg"); }

html, body {width: 100%; height: 100%; overflow: hidden;}

body {
    line-height:20px;
    font-family: "MyriadProLight", Arial,Helvetica,Verdana;
    font-size: 17px;
    color: #111111;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

p {padding: 5px 0; font-size: 17px; line-height:20px; padding-bottom: 15px; text-align: justify; color:#111111;}
p.title {color: #fff; text-align: left;}
ul {padding-bottom: 15px;}
li {padding: 5px 0; font-size: 17px; line-height:20px; text-align: justify;}
label {line-height: 32px;}
label.error {color: red; line-height: 28px;}
div.ui-element {
    min-height: 40px;
    margin-bottom: 10px;
}
input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=date]{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    -webkit-appearance: none; 
    -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%; 
    height: 40px;
    line-height: 40px; 
    font-size: 17px;
    border: 1px solid #bbb;
    color: #111111;
    background: white;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* Checkbox */
input.css-checkbox {
    position:absolute; z-index:-1000; top:-1000px;
}
input.css-checkbox + label.che-label {
    display: inline-block;
    line-height:22px;
    padding: 9px 20px 9px 40px;    
    border: 1px solid #bbb;    
    background-color: white;    
    background-repeat:no-repeat;
    background-position: 10px center;
    cursor:pointer;
}
input.css-checkbox:checked + label.che-label {
    background-image:url(../img/check_on.png);
}
label.che-label {
    background-image:url(../img/check_off.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Radio */
input[type=radio].css-checkbox + label.rad-label {
    display: inline-block;
    line-height:22px;
    padding: 9px 20px 9px 40px;
    background-color: white;
    border: 1px solid #bbb;
    background-repeat: no-repeat;
    background-position: 10px center;
    cursor:pointer;
    width: 96%;
}
input[type=radio].css-checkbox:checked + label.rad-label, input[type=radio].css-checkbox + label.rad-label.chk {
    background-image:url(../img/radio_on.png);
}
label.rad-label {
    background-image:url(../img/radio_off.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.styled-select {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    background: url(../img/select.png) no-repeat right white;
    border: 1px solid #bbb;
    height: 40px;
    overflow: hidden;
    width: 100%;
}
.styled-select select {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 0;
    height: 40px;
    line-height: 1;
    padding: 5px;
    width: 110%;
}
select {
    border: 1px solid #aaa;
    color: #555;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    padding: 4px;
}
textarea {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    margin: 0;
    width: 100%; 
    height: 120px;
    line-height: 24px; 
    font-family: "MyriadProLight", Arial,Helvetica,Verdana; 
    font-size: 17px;
    border: 1px solid #bbb;
    color: #111111;
    margin-bottom: 10px;
    padding: 0 5px;
}

button, a.btn, a.btn:visited {
    font-family: "MyriadProLight";
    -webkit-appearance: none; -moz-appearance: none;
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    background: #d9c31d;
    border: 0;
    padding: 9px 15px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}
a.btn {
    line-height: 22px;
}
a.btn.icon {
    text-align: left;
    background-size: 20px 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    height: auto;
    line-height: 24px;
    padding: 8px 20px 8px 40px;
    width: 100%;
}
a.btn.mexico_norte {background-image: url(../img/menu/mexico_norte.png);} 
a.btn.mexico_sur {background-image: url(../img/menu/mexico_sur.png);} 
a.btn.cuernavaca {background-image: url(../img/menu/cuernavaca.png);} 
a.btn.redes {background-image: url(../img/menu/compartir.png);} 
a.btn.s1 {background-image: url(../img/ser/1.png);} 
a.btn.s2 {background-image: url(../img/ser/2.png);} 
a.btn.s3 {background-image: url(../img/ser/3.png);} 
a.btn.s4 {background-image: url(../img/ser/4.png);} 
a.btn.s5 {background-image: url(../img/ser/5.png);} 
a.btn.s6 {background-image: url(../img/ser/6.png);} 
a.btn.s7 {background-image: url(../img/ser/7.png);} 
a.btn.s8 {background-image: url(../img/ser/8.png);} 
a.btn.s9 {background-image: url(../img/ser/9.png);} 
a.btn.t1 {background-image: url(../img/tra/1.png);} 
a.btn.t2 {background-image: url(../img/tra/2.png);} 
a.btn.t3 {background-image: url(../img/tra/3.png);} 
a.btn.t4 {background-image: url(../img/tra/4.png);} 
a.btn.t5 {background-image: url(../img/tra/5.png);} 
a.btn.t41 {background-image: url(../img/tra/41.png);} 
a.btn.t42 {background-image: url(../img/tra/42.png);} 
a.btn.t43 {background-image: url(../img/tra/43.png);} 
a.btn.t44 {background-image: url(../img/tra/44.png);} 
a.warning {
    background: none repeat scroll 0 0 #ff4646 !important;
}
a, a:visited {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {font-weight: bold; color: #004b3a; text-align: justify;}
h1 {font-size: 28px; line-height: 32px; padding: 10px 0;}
h2 {font-size: 22px; line-height: 28px; padding: 8px 0;}
h3 {font-size: 20px; line-height: 24px; padding: 4px 0;}

.clear {clear: both;}
.to_left {float: left;}
.to_right {float: right;}
.hidden {display: none!important;}

#header {
    position:absolute; 
    z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    /*background: rgb(223, 10, 28) url(../img/buttons.png) repeat-x;*/
    background: rgb(29, 81, 61);
    /*padding:2px;*/
}

#header a, #header a img {
    display: block;
}

#header div#back, #header div.menu_action {position: absolute; right: 0; top: 0; padding: 4px;}
#header div#back img, #header div.menu_action img {height: 36px;}
#header div#menu_action {position: absolute; left: 0; top: 0; padding: 0px;}
#header div#menu_action img {height: 45px;}
#header div#logo {position: absolute; left: 50%; top: 0; margin-left: -18px;}

#wrapper {
    position:absolute; 
    z-index:1;
    top:45px; 
    bottom:0; 
    left:0;
    width:100%;
    /*background: #ffffff;*/
    background: linear-gradient(to bottom,#dedede,#f7f7f7,#dadada);
    overflow: auto;
}

#scroller {
    position:absolute; z-index:1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}

@media screen and (min-height > 1000){.content {background-color: #ffffff; padding: 15px 25px 15px 15px; min-height: 1000px;}}
.content {padding: 15px 25px 15px 15px; min-height: 680px;}
.content.submenu {padding: 55px 25px 15px 15px;}
#scroller .content img {width: 100%;}
div.no100 img {width: auto !important;}
#down_sign {position: absolute; width: 24px; height: 50px; z-index: 1; left: 50%; margin-left: -16px; bottom: 10px; background-size: 32px 32px; background: transparent url(../img/down.png) no-repeat center center; }

#right_panel {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    right: -100%;
    z-index: 1;
    top: 45px; 
    background: white;
    height: 0;
    display: none;
}

#right_panel p {
    line-height: 32px;
}

#right_panel .panel_in, #right_panel .panel_auto_close {
    background: white;
    padding: 15px 25px 15px 15px;
}
#right_panel a#close_panel {
    position: absolute;
    right: 20px;
    top: 20px;
}
#right_panel a#close_panel img {
    width: 32px;
}

#menu {
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    left: -105%;
    z-index: 2;
    top: 45px;
}

#menu ul {
    display: block;
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
    transform: translateY(0);
}

#menu li {
    padding: 0;
    /* height: 40px; */
    /* line-height: 40px; */
    /*border: 1px solid #fafffd; */
    /* border-top: 1px solid #a0a0a0; */
    /* background-color: #fafafa; */
    /*font-size: 1.2em;*/
    background-color: rgb(29,81,61); 
    color:black !important;
}

/*#menu li * {vertical-align: middle;}*/
#menu li a img {height: 18px; display: block; float: left;}
#menu li a img.tiny {height: 26px!important; margin-top: -3px;}
#menu li a span {display: block; /*margin-left: 30px;*/}
#menu li a {display: block; padding: 12px 15px 12px 10px; color: white;
border-top:  1px solid white;
}

#menu .area_usuarios{background-color:#2f3fa3;}

#menu .area_usuarios h2{color:#ffffff; line-height: 36px; margin-left:10px;}

#submenu {position: absolute; top: 0; height: 40px; width: 100%; background-color: #4998ef; z-index: 2;}
#submenu li {display: block; float: left; padding: 0;}
#submenu li a {display: block; border-right: 1px solid #4F78D6; height: 40px; color: white; line-height: 40px; text-align: center;}
#submenu li a.current {background: #6badf6;}
#submenu li a img {display: block; width: 20px; margin: 0 auto; padding-top: 10px;}


.content li{margin-left:20px;}

.delimiter{width:100%; margin:8px 10px 25px 0px; border-top:1px dashed #000000; height:1px;}
#date select {display: block; float: left; width: 33%;}
table.links tr td a {
    display: block;
    padding: 2px 0;
}
iframe {width: 100%;}
#redmap iframe, #cuemap iframe {
    width: 100%;
}
div#foto-perfil {
    width: 100%;
    background-color: white;
    background-image: url(../img/no-photo.png);
    background-position: center center;
    background-repeat: no-repeat; 
    min-height: 50px;
    border: 1px solid #bbb;
}
div#foto-perfil img {display: block;}

.ui-element.date input {
    float: left; width: 30%; margin-right: 5%; text-align: center;
}

.ui-element.date input:last-child {
    margin-right: 0!important;
}

.spin_panel {
    clear: both;
}

.spin_panel input {
    display: block; text-align: center;
}

.spin_panel label {display: block; line-height: 40px;}
.spin_panel span.input-group-btn {
    position: absolute;
}
.spin_panel span.input-group-btn:first-child {
    left: 0;
}
.spin_panel span.input-group-btn:last-child {
    right: 0;
    top: 0;
}
.spin_panel button.btn {
    width: 30px;
}
.spin_panel div.dia, .spin_panel div.mes, .spin_panel div.ano {
    position: relative; width: 100%;
}
.spin_panel .input-group {
    position: relative;
}
.frecuencia .input-group, .hora .input-group {width: 100px; float: left; margin: 0 20px 20px 0;}
.hora.cita .input-group {width: 130px;}
.hora .ui-element {float: left;}
.cita_data {width: 66%; float: left;}
.cita_estado {width: 33%; float: right;}
.midLeft {
    left: 10px;
    position: absolute;
    top: 49%;
}
.gsPrev {
    background-image: url("../img/gs_prev.png");
    background-size: 30px 30px;
}
.midRight {
    position: absolute;
    right: 10px;
    top: 49%;
}
.gsNext {
    background-image: url("../img/gs_next.png");
    background-size: 40px 40px;
}
.gsThumbToggle, .gsCaptionToggle, .gsAutoPlay, .gsPrev, .gsNext, .gsZoomIn, .gsZoomOut {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
}
.gscloseIcon {
    position: absolute; right: 10px; top: 10px; width: 32px; height: 32px; background-image: url("../img/gs_close.png"); background-size: 32px 32px;
}
.sliderBg {
    background: #fff1ec;
}
.thumb {
    float: left;
    width: 25%;
    overflow: hidden;
}
.thumb img {
    width: 100%;
    display: block;
}
div.ver {
    position: relative;
}
div.ver a {
    position: relative;
    display: block;
    z-index: 5;
}
div.ver span {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    height: 20px;
    z-index: 4;
    opacity: 0.3;
    background: #EC80AE;
    padding: 20px 0;
}
div.ver p { 
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 6px black;
    padding: 20px 0;    
}
#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 60000;
    background: transparent;
}
#overlay #top {height: 45px; position: absolute; top: 0;}
#overlay #main {position: absolute; background: #222222 url(../img/loader128.gif) no-repeat center center; background-size: 32px 32px; opacity: 0.25; top: 45px; bottom: 0px; left: 0; width: 100%; padding: 15px 25px 15px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

#offline {margin: 10px 0 25px; padding: 10px 15px; background: #ff8686; border: 1px solid #f86868;}
#offline a.btn {background: #e53232; color: white;}
#offline p {color: white;}

.alert {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 60000; background: rgba(0, 0, 0, 0.42); color: #666666; font-size: 22px; line-height: 22px;}
.alert .top {height: 45px; position: absolute; top: 0;}
.alert .main {position: absolute; background: #222222; opacity: 0.25; top: 45px; bottom: 0px; left: 0; width: 100%; padding: 15px 25px 15px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alert .container {position: absolute; z-index: 60001; background: white; left: 10%; right: 10%; top: 20%; padding: 30px 40px;}
.alert .container .action {height: 50px; margin-top: 40px;}
.alert .container .action a {display: block; text-align: center; float: left; padding: 15px 0 14px; background: #f1f1f1; border: 1px solid #e1e1e1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alert .container .action a.ok {width: 100%;}

div.social_icons a {
    display: block;
    float: left;
    width: 25%;
}
div.social_icons a img {display: block;}
div.dr {padding: 5px 12.5% 15px;}

@media (max-width: 500px) {
    /* some CSS for small resolution */
    p.title {font-size: 23px;text-align: center; font-weight: bold; margin-top: 10px;}
}

@media (min-width: 512px) {
    p.title {font-size: 23px;text-align: center; font-weight: bold; margin-top: 10px;}
}

@media (min-width: 980px) {
    p.title {font-size: 23px;text-align: center; font-weight: bold; margin-top: 10px;}
}

#alarm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60000;
    background: transparent;
    color: #666666;
    font-size: 22px;
    line-height: 22px;
}

.alarm .top {height: 45px; position: absolute; top: 0;}
.alarm .main {position: absolute; background: #222222; opacity: 0.25; top: 45px; bottom: 0px; left: 0; width: 100%; padding: 15px 25px 15px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alarm .container {position: absolute; z-index: 60001; background: white; left: 10%; right: 10%; top: 20%; padding: 30px 40px;}
.alarm .container .action {height: 50px; margin-top: 40px;}
.alarm .container .action a {display: block; text-align: center; float: left; padding: 15px 0 14px; background: #f1f1f1; border: 1px solid #e1e1e1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alarm .container .action a.ok {width: 100%;}